<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:int-jms="http://www.springframework.org/schema/integration/jms"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/integration/jms http://www.springframework.org/schema/integration/jms/spring-integration-jms.xsd">

	<int:channel id="processBlockChannel">
		<int:queue />
	</int:channel>

	<int:channel id="sendBlockChannel">
		<int:queue />
	</int:channel>

	<int-jms:inbound-channel-adapter
		channel="processBlockChannel" connection-factory="connectionFactory"
		destination-name="blockQueue">
		<int:poller fixed-delay="500" />
	</int-jms:inbound-channel-adapter>

	<int-jms:inbound-channel-adapter
		channel="sendBlockChannel" connection-factory="connectionFactory"
		destination-name="sendBlockQueue">
		<int:poller fixed-delay="500" />
	</int-jms:inbound-channel-adapter>


	<bean id="connectionFactory"
		class="org.springframework.jms.connection.CachingConnectionFactory">
		<property name="targetConnectionFactory">
			<bean class="org.apache.activemq.ActiveMQConnectionFactory">
				<property name="brokerURL" value="tcp://localhost:61616" />
			</bean>
		</property>
		<property name="sessionCacheSize" value="10" />
		<property name="cacheProducers" value="false" />
	</bean>
	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="connectionFactory" />
	</bean>

	<bean id="MessageProducer" class="com.sapient.jms.MarshallAndSend">
		<property name="jmsTemplate" ref="jmsTemplate" />
	</bean>

	<bean id="BlockServiceListener" class="com.sapient.jms.UnmarshallAndSave">
		<property name="jmsTemplate" ref="jmsTemplate" />
	</bean>

	<int:service-activator input-channel="processBlockChannel"
		ref="BlockServiceListener" method="processBlocksFromQueue">
		<int:poller fixed-delay="500" />
	</int:service-activator>
</beans>